<p> <strong>Hours of Operation During Semesters</strong><br>   <em>Spring, Fall, Study Days, and Finals</em>  </p>
<p>   Monday | 7:30AM - 9:00PM<br>   Tuesday | 7:30AM - 9:00PM<br>   Wednesday | 7:30AM - 9:00PM<br>   Thursday | 7:30AM - 9:00PM<br>   Friday | 7:30AM - 7:00PM<br>   Weekends | Closed    </p>
<hr>
<p>   <strong>Hours of Operation During Breaks</strong><br>   <em>Summer Session, Winter &amp; Spring Breaks</em>  </p>
<p>   Monday | 8:00am - 6:30pm<br>   Tuesday | 8:00am - 6:30pm<br>   Wednesday | 8:00am - 6:30pm<br>   Thursday | 8:00am - 6:30pm<br>   Friday | 8:00am - 5:30pm<br>   Weekends | Closed  </p>
