<p>  <strong>Temple University Help Desk</strong><br>   The TECH Center, Room 106<br>   phone: <a href="tel:2152048000">(215) 204-8000</a><br>   email: <a href="mailto:help@temple.edu">help@temple.edu</a><br>   website: <a href="https://tuhelp.temple.edu">tuhelp.temple.edu</a>  </p>
<hr>
<p>   <strong>Classroom Technology Support</strong><br>   Anderson &amp; Gladfelter Halls<br>   Direct phone: <a href="tel:2152048572">(215) 204-8572</a>  </p>
<hr>
<p>   <strong>Classroom Technology Support</strong><br>   Weiss Hall, Ritter Hall, &amp; Ritter Annex<br>   Direct phone: <a href="tel:2152040131">(215) 204-0131</a>  </p>
<hr>
<p>   <strong>Liberal Arts Information Technology</strong><br>   21 Anderson Hall<br>   Direct phone: <a href="tel:2152043213">(215) 204-3213</a>  </p>
