---
title: Home
meta-description: 100 or so words
meta-keywords: 3 or 4 unique for this page
permalink: /
layout: home
feature: true
feature-title: Supporting Research and Instruction
feature-body: >
    Liberal Arts Information Technology provides a comprehensive array of technology services and
    solutions supporting the students, faculty, and administrative staff of the College of Liberal Arts.
    In addition to over 1,200 managed devices, Liberal Arts Information Technology supports over 600 public
    computing workstations spanning 15 specialized computing labs and over 60 classrooms. Backed by a nearly
    100% virtualized infrastructure, Liberal Arts Information Technology provides specialty technology
    solutions that help further the mission of the College of Liberal Arts.
feature-image: media/hero_bg.png
published: true
---



<div class="row row-wide">
<div class="col m12 l4">{% include cards/card2-image.html title="Request Technical Assistance" content="Technical assistance in offices, labs, research areas, and more are all available by request." image="" button-link="get-help/" button-text="Learn More" %}</div>
<div class="col m12 l4">{% include cards/card2-image.html title="Access the Media Library" content="The Liberal Arts Media Library catalog covers a wide range of academic interests with a focus on the social sciences and humanities." image="" button-link="resources/#media-library" button-text="Learn More" %}</div>
<div class="col m12 l4">{% include cards/card2-image.html title="Review Technology Resources" content="Information Technology resources are available to support the work of students, faculty and staff." image="" button-link="resources/" button-text="Learn More" %}</div>
</div>
