<!DOCTYPE html>
<html>

{% include head.html %}

  <body>

    {% include header.html %}

    <main>
    {% if page.title %}
    <div class="page-header container">
    <div class="container">
        <h1>{{ page.title }}</h1>
    </div>
    </div>
    {% endif %}
<div class="content">
  {{ content }}
</div>

<div class="container">
  {% for person in site.data.staff %}
    <div class="person">
      <div class="person-photo"><img src="{{ person.photo }}" alt="Photo of {{ person.name }}"></div>
      <div class="person-bio">
        <h3>{{ person.name }}</h3>
        <h3><small>{{ person.title }}</small></h3>
        <p>{{ person.expertise | markdownify }}</p>
        <ul class="person-links">
          {% if person.office %}
            <li><i class="material-icons">location_city</i> {{ person.office }}</li>
          {% endif %}
          {% if person.email %}
            <li><i class="material-icons">email</i> <a href="mailto:{{ person.email }}">{{ person.email }}</a></li>
          {% endif %}
          {% if person.phone %}
            <li><i class="material-icons">phone</i> <a href="tel:{{ person.phone }}">{{ person.phone }}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>

    {% include footer.html %}

    {% if site.google_tag_manager %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% elsif site.google_analytics %}
      {% include google_analytics.html %}
    {% endif %}

    <script type="text/javascript" src="{{ '/assets/js/maps.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google.api_key }}&callback=initMap"></script>

  </body>

</html>
